* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}



body {
  display: flex;
  height: 100vh;
}
.left {
  width: 30vw;
  background-color: #f0f2f569;
}
nav {
  display: flex;
  width: inherit;
  padding: 2% 2% 1% 5%;
  background-color: #f0f2f5;
  justify-content: space-between;
}

nav div.profile svg {
  width: 48px;
}
nav div.broad {
  padding: 2%;
  display: flex;
  align-items: flex-end;
}
nav div.broad svg {
  text-align: center;
  margin-left: 1rem;
  color: #54656f;
  cursor: pointer;
  padding: 2%;
  border-radius: 50%;
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 10px #0000004d;
  padding: 2% 3%;
}
.placeholder {
  width: 90%;
  padding: 1% 2%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
}
.placeholder svg {
  color: #2bcc2b;
  margin-right: 2%;
  display: flex;
  height: fit-content;
}
input[type="search"] {
  padding: 2.2%;
  width: 80%;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #f0f2f5;
}
.chat-container{
  scroll-behavior: smooth;
  padding: 2% 0 ;
  height: 82vh;
  overflow: auto;
  scrollbar-width: 10px;
  scrollbar-color: blue;
  background-color: #fff;

}
.chat-container::-webkit-scrollbar{
  width: 10px; 
  color: yellow;
} 
.chat-grid{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: .5rem;
  padding-left: 5%;
  cursor: pointer;
}

.profilePicture {
  width: 47px;
  height: 47px;
  padding: 1%;
  border-radius: 50%;
  margin-right: 40%;
  grid-row: 1/4;
}
.profilePicture img{
  width: 45px;
  object-fit: cover;
}
.name{
  /* grid-column: 2/4; */
  font-size: 1.2rem;
  font-weight: 600;
}

.right {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f0f2f5;
}
